@page
@model MyApp.Namespace.ProtectedModel
@{
}

<div class="">
    <p><a asp-page="./Weather">Click here for the weather forecast</a></p>
    <p><a href="/">Back to the home page</a></p>
</div>

<h3>You are in a protected page, logged in as:</h3>

<table>
    <tr>
        <td>Given name</td>
        <td>@Model.GivenName</td>
    </tr>
    <tr>
        <td>Middle name</td>
        <td>@Model.MiddleName</td>
    </tr>    
    <tr>
        <td>Family name</td>
        <td>@Model.FamilyName</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>@Model.Email</td>
    </tr>      
    <tr>
        <td>Claims from id token</td>
        <td>
            <ul>
                @foreach (var claim in Model.ClaimsFromIdToken)
                {
                    <li>@claim</li>
                }
            </ul>
        </td>
    </tr>
    <tr>
        <td>Claims from access token</td>
        <td>
            <ul>
                @foreach (var claim in Model.ClaimsFromAccessToken)
                {
                    <li>@claim</li>
                }
            </ul>
        </td>
    </tr>
    <tr>
        <td>Claims from refresh token</td>
        <td>
            <ul>
                @foreach (var claim in Model.ClaimsFromRefreshToken)
                {
                    <li>@claim</li>
                }
            </ul>
        </td>
    </tr>
</table>

